<!DOCTYPE html>
<html>
		<head>
				<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
				<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
				<link rel="stylesheet" type="text/css" href="./styles/styles.css">
		</head>
		
		<body>
				
				<!-- demo root element -->
				<div id="app" class="filtered-table">
					<div class="filtered-table__filters">
					<div v-for="(filter, filterName) in config.filters">
							<tbl-filter 
								:config="filter"
								v-on:filter-change="changedFilter">
							</tbl-filter>
					</div>
					</div>
					<div class="filtered-table__table">
						<div>
							<filter-summary
								:filters="filterSummary"
								v-on:filter-removed="removeFilter">
								
							</filter-summary>
						</div>
						<demo-grid
							:data="gridData"
							:columns="gridColumns">
						</demo-grid>
					</div>
					
				</div> <!-- end #demo -->
				
				<!-- component template -->
				<script type="text/x-template" id="grid-template">
					<table>
						<thead>
							<tr>
								<th v-for="key in columns">
									{{ key | capitalize }}
								</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="entry in data">
								<td v-for="key in columns" :data-order="entry[key]">
									{{entry[key]}}
								</td>
							</tr>
						</tbody>
					</table>
				</script>   <!-- end #grid-template -->
				
				<script type="text/x-template" id="tbl-filter">
					<div class="tbl-filter">
						<div class="tbl-filter__header" @click="collapsed = !collapsed">
							{{ config.name }}
						</div>
						<div class="tbl-filter__content" :class="{ 'tbl-filter__content--collapsed': collapsed }">
							<div v-if="config.type == 'select'" v-for="option in config.options">
								<input type="checkbox" :id="option.id" :name="config.id" :value="option.id" v-model.sync="config.current" @change="changeSelect" />
								<label :for="option.id">{{ option.text }}</label>
							</div>
							<div v-if="config.type == 'range'">
								<input type="text" v-model.sync="config.current" @change="changeValue" />	
							</div>
						</div>
					</div>
				</script>   <!-- end #tbl-filter -->
				
				<script type="text/x-template" id="filter-summary">
					<div class="filter-summary">
						<span v-for="filter in filters" class="filter-summary__filter">
							{{ filter.text }}
							<span class="glyphicon glyphicon-remove" @click="removeFilter(filter)"></span>
						</span>
					</div>
				</script>   <!-- end #tbl-filter -->
				
				<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
				<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
				<script scr="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
				<script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
				<script src="./scripts/vue-components/demo-grid.js"></script>
				<script src="./scripts/vue-components/tbl-filter.js"></script>
				<script src="./scripts/vue-components/filter-summary.js"></script>
				<script src="./scripts/app.js"></script>
				
		</body>
</html>