<!DOCTYPE html>
<html>
		<head>
				<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
				<link rel="stylesheet" type="text/css" href="./styles/styles.css">
		</head>
		
		<body>
				
				<!-- demo root element -->
				<div id="app" class="filtered-table">
					<div class="filtered-table__filters">
					<div v-for="filter in config.filters">
							<tbl-filter :config="filter" v-on:tbl-filter--change="changedFilter">
							
							</tbl-filter>
					</div>
					</div>
					<div class="filtered-table__table">
						<demo-grid
							:data="gridData"
							:columns="gridColumns"
							:filter-key="searchQuery">
						</demo-grid>
					</div>
					
				</div> <!-- end #demo -->
				
				<!-- component template -->
				<script type="text/x-template" id="grid-template">
					<table>
						<thead>
							<tr>
								<th v-for="key in columns"
									@click="sortBy(key)"
									:class="{ active: sortKey == key }">
									{{ key | capitalize }}
									<span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
									</span>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="entry in filteredData">
								<td v-for="key in columns">
									{{entry[key]}}
								</td>
							</tr>
						</tbody>
					</table>
				</script>   <!-- end #grid-template -->
				
				<script type="text/x-template" id="tbl-filter">
					<div class="tbl-filter">
						<div class="tbl-filter__header" @click="collapsed = !collapsed">
							{{ config.name }}
						</div>
						<div class="tbl-filter__content" :class="{ 'tbl-filter__content--collapsed': collapsed }">
							<div v-if="config.type == 'select'" v-for="option in config.options">
								<input type="checkbox" :id="option.id" :name="config.id" :value="option.id" v-model="config.current" @change="changeSelect" />
								<label :for="option.id">{{ option.text }}</label>
							</div>
							<div v-if="config.type == 'range'">
								<input type="text" v-model="config.current" @change="changeValue" />	
							</div>
						</div>
					</div>
				</script>   <!-- end #tbl-filter -->
				
				<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
				<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
				<script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
				<script src="./scripts/vue-components/demo-grid.js"></script>
				<script src="./scripts/vue-components/tbl-filter.js"></script>
				<script src="./scripts/app.js"></script>
				
		</body>
</html>